* text=auto !eol
/KandW3R.cor -text
/KandW3R.stoch -text
/KandW3R.time -text
/app0110.cor -text
/app0110.stoch -text
/app0110.time -text
/app0110R.cor -text
/app0110R.stoch -text
/app0110R.time -text
/bug.cor -text
/bug.stoch -text
/bug.time -text
/coindatastochastic-uninstalled.pc.in -text
/coindatastochastic.pc.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
/prod_mixR.cor -text
/prod_mixR.stoch -text
/prod_mixR.time -text
/wat_10_C_32.cor -text
/wat_10_C_32.stoch -text
/wat_10_C_32.time -text
